@import url('https://fonts.googleapis.com/css?family=Lora');

#mediaAritmetica {
    background: rgb(10, 10, 150);
    color: white;
    font-family: 'Lora', 'serif';
    padding: 50px;
}

#mediaAritmetica h1{
    font-size: 24px;
}

#mediaAritmetica h2{
    font-size: 18px;
}